{% extends "base.html" %} {% block content %}
<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="card mb-3">
        <div class="row g-0">
          <div class="col-md-3 d-flex align-items-center" style="padding: 1rem">
            <img
              src="https://res.heraldm.com/content/image/2022/06/24/20220624000541_0.jpg"
              class="img-fluid rounded-start"
              alt="프로필 이미지"
            />
          </div>
          <div class="col-md-9">
            <div class="card-body">
              <h5 class="card-title">이름: 똥길동이스카이워커</h5>
              <p class="card-text">자고  싶습니다</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}